body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    height: auto;
    width: 300px;
    padding: 0;
    background-color: #d6d6d6;
    text-align: center;
}

.sub {
    margin: 6px 0 12px;
    font-size: 13px;
    color: #ff5c00;
}
h1 {
    text-decoration: underline;
    text-align: center;
    font-size: 24px;
}
.button {
    background-color: #ff5c00;
    color: #ffffff;
    border: 2px solid #000000;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}
.button:hover {
    background-color: #e04e00;
}